<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICystomerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58370/CystomerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICystomerService"
                contract="ServiceReference1.ICystomerService" name="BasicHttpBinding_ICystomerService" />
        </client>
    </system.serviceModel>
</configuration>